[submodule "src/common"]
	path = src/common
	url = https://github.com/thzero/rocket_tools-common
[submodule "src/library_vue"]
	path = src/library_vue
	url = https://github.com/thzero/library_client_vue3_components
[submodule "src/library_vue_quasar"]
	path = src/library_vue_quasar
	url = https://github.com/thzero/library_client_vue3_quasar_components
